* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    background: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family: "Courier New", Courier, monospace;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
